{
  "openapi": "3.1.0",
  "info": {
    "title": "IGVF Project API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.data.igvf.org"
    }
  ],
  "paths": {
    "/{resource_id}": {
      "get": {
        "summary": "Get item information",
        "description": "Retrieve detailed information about a specific item using its @id or uuid.",
        "operationId": "get_by_id",
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier for the resource (e.g., /sequence-files/IGVFFI1165AJSO/ or fffcd64e-af02-4675-8953-7352459ee06a) "
          },
          {
            "name": "frame",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "object"
              ]
            },
            "description": "Constant value, do not set."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Item",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/AccessKey"
                    },
                    {
                      "$ref": "#/components/schemas/AnalysisStep"
                    },
                    {
                      "$ref": "#/components/schemas/AnalysisStepVersion"
                    },
                    {
                      "$ref": "#/components/schemas/Award"
                    },
                    {
                      "$ref": "#/components/schemas/Biomarker"
                    },
                    {
                      "$ref": "#/components/schemas/Document"
                    },
                    {
                      "$ref": "#/components/schemas/HumanDonor"
                    },
                    {
                      "$ref": "#/components/schemas/RodentDonor"
                    },
                    {
                      "$ref": "#/components/schemas/AlignmentFile"
                    },
                    {
                      "$ref": "#/components/schemas/ConfigurationFile"
                    },
                    {
                      "$ref": "#/components/schemas/GenomeBrowserAnnotationFile"
                    },
                    {
                      "$ref": "#/components/schemas/ImageFile"
                    },
                    {
                      "$ref": "#/components/schemas/MatrixFile"
                    },
                    {
                      "$ref": "#/components/schemas/ModelFile"
                    },
                    {
                      "$ref": "#/components/schemas/ReferenceFile"
                    },
                    {
                      "$ref": "#/components/schemas/SequenceFile"
                    },
                    {
                      "$ref": "#/components/schemas/SignalFile"
                    },
                    {
                      "$ref": "#/components/schemas/TabularFile"
                    },
                    {
                      "$ref": "#/components/schemas/AnalysisSet"
                    },
                    {
                      "$ref": "#/components/schemas/AuxiliarySet"
                    },
                    {
                      "$ref": "#/components/schemas/ConstructLibrarySet"
                    },
                    {
                      "$ref": "#/components/schemas/CuratedSet"
                    },
                    {
                      "$ref": "#/components/schemas/MeasurementSet"
                    },
                    {
                      "$ref": "#/components/schemas/ModelSet"
                    },
                    {
                      "$ref": "#/components/schemas/PredictionSet"
                    },
                    {
                      "$ref": "#/components/schemas/Gene"
                    },
                    {
                      "$ref": "#/components/schemas/Image"
                    },
                    {
                      "$ref": "#/components/schemas/InstitutionalCertificate"
                    },
                    {
                      "$ref": "#/components/schemas/Lab"
                    },
                    {
                      "$ref": "#/components/schemas/CrisprModification"
                    },
                    {
                      "$ref": "#/components/schemas/DegronModification"
                    },
                    {
                      "$ref": "#/components/schemas/AssayTerm"
                    },
                    {
                      "$ref": "#/components/schemas/PhenotypeTerm"
                    },
                    {
                      "$ref": "#/components/schemas/PlatformTerm"
                    },
                    {
                      "$ref": "#/components/schemas/SampleTerm"
                    },
                    {
                      "$ref": "#/components/schemas/OpenReadingFrame"
                    },
                    {
                      "$ref": "#/components/schemas/Page"
                    },
                    {
                      "$ref": "#/components/schemas/PhenotypicFeature"
                    },
                    {
                      "$ref": "#/components/schemas/Publication"
                    },
                    {
                      "$ref": "#/components/schemas/InVitroSystem"
                    },
                    {
                      "$ref": "#/components/schemas/MultiplexedSample"
                    },
                    {
                      "$ref": "#/components/schemas/PrimaryCell"
                    },
                    {
                      "$ref": "#/components/schemas/TechnicalSample"
                    },
                    {
                      "$ref": "#/components/schemas/Tissue"
                    },
                    {
                      "$ref": "#/components/schemas/WholeOrganism"
                    },
                    {
                      "$ref": "#/components/schemas/Software"
                    },
                    {
                      "$ref": "#/components/schemas/SoftwareVersion"
                    },
                    {
                      "$ref": "#/components/schemas/Source"
                    },
                    {
                      "$ref": "#/components/schemas/Treatment"
                    },
                    {
                      "$ref": "#/components/schemas/User"
                    },
                    {
                      "$ref": "#/components/schemas/Workflow"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "@type",
                    "mapping": {}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Object not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "summary": "Search for items in the IGVF Project",
        "description": "Search endpoint that accepts various query parameters to filter, sort, and paginate results. Supports complex filtering on types and fields within JSON objects.",
        "operationId": "search",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Type of objects to return. Can be repeated for multiple types."
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Query string for searching."
          },
          {
            "name": "field_filters",
            "in": "query",
            "schema": {
              "type": "object"
            },
            "description": "Any field from any object type can be used as a filter. Use '!' for negation, '*' as a wildcard, and 'lt:', 'lte:', 'gt:', 'gte:' for range queries on numeric fields.",
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "description": "Maximum number of results to return. Use 'all' for all results."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Fields to sort results by. Prefix with '-' for descending order. Can be repeated for multiple sort fields. Does not work with limit=all."
          },
          {
            "name": "field",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Fields to include in the response. Can be repeated for multiple fields."
          },
          {
            "name": "frame",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "object"
              ]
            },
            "description": "Constant value, do not set."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "SearchResults",
                  "properties": {
                    "@graph": {
                      "type": "array",
                      "items": {
                        "title": "SearchResultItem",
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/AccessKey"
                          },
                          {
                            "$ref": "#/components/schemas/AnalysisStep"
                          },
                          {
                            "$ref": "#/components/schemas/AnalysisStepVersion"
                          },
                          {
                            "$ref": "#/components/schemas/Award"
                          },
                          {
                            "$ref": "#/components/schemas/Biomarker"
                          },
                          {
                            "$ref": "#/components/schemas/Document"
                          },
                          {
                            "$ref": "#/components/schemas/HumanDonor"
                          },
                          {
                            "$ref": "#/components/schemas/RodentDonor"
                          },
                          {
                            "$ref": "#/components/schemas/AlignmentFile"
                          },
                          {
                            "$ref": "#/components/schemas/ConfigurationFile"
                          },
                          {
                            "$ref": "#/components/schemas/GenomeBrowserAnnotationFile"
                          },
                          {
                            "$ref": "#/components/schemas/ImageFile"
                          },
                          {
                            "$ref": "#/components/schemas/MatrixFile"
                          },
                          {
                            "$ref": "#/components/schemas/ModelFile"
                          },
                          {
                            "$ref": "#/components/schemas/ReferenceFile"
                          },
                          {
                            "$ref": "#/components/schemas/SequenceFile"
                          },
                          {
                            "$ref": "#/components/schemas/SignalFile"
                          },
                          {
                            "$ref": "#/components/schemas/TabularFile"
                          },
                          {
                            "$ref": "#/components/schemas/AnalysisSet"
                          },
                          {
                            "$ref": "#/components/schemas/AuxiliarySet"
                          },
                          {
                            "$ref": "#/components/schemas/ConstructLibrarySet"
                          },
                          {
                            "$ref": "#/components/schemas/CuratedSet"
                          },
                          {
                            "$ref": "#/components/schemas/MeasurementSet"
                          },
                          {
                            "$ref": "#/components/schemas/ModelSet"
                          },
                          {
                            "$ref": "#/components/schemas/PredictionSet"
                          },
                          {
                            "$ref": "#/components/schemas/Gene"
                          },
                          {
                            "$ref": "#/components/schemas/Image"
                          },
                          {
                            "$ref": "#/components/schemas/InstitutionalCertificate"
                          },
                          {
                            "$ref": "#/components/schemas/Lab"
                          },
                          {
                            "$ref": "#/components/schemas/CrisprModification"
                          },
                          {
                            "$ref": "#/components/schemas/DegronModification"
                          },
                          {
                            "$ref": "#/components/schemas/AssayTerm"
                          },
                          {
                            "$ref": "#/components/schemas/PhenotypeTerm"
                          },
                          {
                            "$ref": "#/components/schemas/PlatformTerm"
                          },
                          {
                            "$ref": "#/components/schemas/SampleTerm"
                          },
                          {
                            "$ref": "#/components/schemas/OpenReadingFrame"
                          },
                          {
                            "$ref": "#/components/schemas/Page"
                          },
                          {
                            "$ref": "#/components/schemas/PhenotypicFeature"
                          },
                          {
                            "$ref": "#/components/schemas/Publication"
                          },
                          {
                            "$ref": "#/components/schemas/InVitroSystem"
                          },
                          {
                            "$ref": "#/components/schemas/MultiplexedSample"
                          },
                          {
                            "$ref": "#/components/schemas/PrimaryCell"
                          },
                          {
                            "$ref": "#/components/schemas/TechnicalSample"
                          },
                          {
                            "$ref": "#/components/schemas/Tissue"
                          },
                          {
                            "$ref": "#/components/schemas/WholeOrganism"
                          },
                          {
                            "$ref": "#/components/schemas/Software"
                          },
                          {
                            "$ref": "#/components/schemas/SoftwareVersion"
                          },
                          {
                            "$ref": "#/components/schemas/Source"
                          },
                          {
                            "$ref": "#/components/schemas/Treatment"
                          },
                          {
                            "$ref": "#/components/schemas/User"
                          },
                          {
                            "$ref": "#/components/schemas/Workflow"
                          }
                        ],
                        "discriminator": {
                          "propertyName": "@type",
                          "mapping": {}
                        }
                      }
                    },
                    "@id": {
                      "type": "string"
                    },
                    "@type": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "facets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "title": "SearchFacet",
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "terms": {
                            "type": "array",
                            "items": {
                              "title": "SearchFacetTermValue",
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string"
                                },
                                "doc_count": {
                                  "type": "integer"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No results found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoResultsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/profiles": {
      "get": {
        "summary": "Retrieve JSON schemas for all item types",
        "description": "Returns JSON schemas of all the item types defined in IGVF",
        "operationId": "get_schemas",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JSONSchema"
                }
              }
            }
          }
        }
      }
    },
    "/profiles/{item_type}": {
      "get": {
        "summary": "Retrieve JSON schemas for all item types",
        "description": "Returns JSON schemas of all the item types defined in IGVF",
        "operationId": "get_schema_for_item_type",
        "parameters": [
          {
            "name": "item_type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ItemType"
            },
            "description": "The name of the item type"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JSONSchema"
                }
              }
            }
          }
        }
      }
    },
    "/multireport.tsv": {
      "get": {
        "summary": "Generate a report based on search query",
        "description": "Like /search endpoint but returns a TSV file instead of JSON. Must specify item type(s).",
        "operationId": "report",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "required": true,
            "description": "Type of objects to return. Can be repeated for multiple types."
          },
          {
            "name": "query",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Query string for searching."
          },
          {
            "name": "field_filters",
            "in": "query",
            "schema": {
              "type": "object"
            },
            "description": "Any field from any object type can be used as a filter. Use '!' for negation, '*' as a wildcard, and 'lt:', 'lte:', 'gt:', 'gte:' for range queries on numeric fields.",
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "description": "Maximum number of results to return. Use 'all' for all results."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Fields to sort results by. Prefix with '-' for descending order. Can be repeated for multiple sort fields. Does not work with limit=all."
          },
          {
            "name": "field",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true,
            "description": "Fields to include in the response. Can be repeated for multiple fields."
          },
          {
            "name": "frame",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "object"
              ]
            },
            "description": "Constant value, do not set."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/tab-separated-values": {
                "schema": {
                  "type": "string"
                },
                "example": "Column1\tColumn2\tColumn3\nValue1\tValue2\tValue3"
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "No results found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NoResultsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ItemType": {
        "type": "string",
        "enum": [
          "AccessKey",
          "AnalysisStep",
          "AnalysisStepVersion",
          "Award",
          "Biomarker",
          "Document",
          "HumanDonor",
          "RodentDonor",
          "AlignmentFile",
          "ConfigurationFile",
          "GenomeBrowserAnnotationFile",
          "ImageFile",
          "MatrixFile",
          "ModelFile",
          "ReferenceFile",
          "SequenceFile",
          "SignalFile",
          "TabularFile",
          "AnalysisSet",
          "AuxiliarySet",
          "ConstructLibrarySet",
          "CuratedSet",
          "MeasurementSet",
          "ModelSet",
          "PredictionSet",
          "Gene",
          "Image",
          "InstitutionalCertificate",
          "Lab",
          "CrisprModification",
          "DegronModification",
          "AssayTerm",
          "PhenotypeTerm",
          "PlatformTerm",
          "SampleTerm",
          "OpenReadingFrame",
          "Page",
          "PhenotypicFeature",
          "Publication",
          "InVitroSystem",
          "MultiplexedSample",
          "PrimaryCell",
          "TechnicalSample",
          "Tissue",
          "WholeOrganism",
          "Software",
          "SoftwareVersion",
          "Source",
          "Treatment",
          "User",
          "Workflow"
        ],
        "x-enum-varnames": [
          "AccessKey",
          "AnalysisStep",
          "AnalysisStepVersion",
          "Award",
          "Biomarker",
          "Document",
          "HumanDonor",
          "RodentDonor",
          "AlignmentFile",
          "ConfigurationFile",
          "GenomeBrowserAnnotationFile",
          "ImageFile",
          "MatrixFile",
          "ModelFile",
          "ReferenceFile",
          "SequenceFile",
          "SignalFile",
          "TabularFile",
          "AnalysisSet",
          "AuxiliarySet",
          "ConstructLibrarySet",
          "CuratedSet",
          "MeasurementSet",
          "ModelSet",
          "PredictionSet",
          "Gene",
          "Image",
          "InstitutionalCertificate",
          "Lab",
          "CrisprModification",
          "DegronModification",
          "AssayTerm",
          "PhenotypeTerm",
          "PlatformTerm",
          "SampleTerm",
          "OpenReadingFrame",
          "Page",
          "PhenotypicFeature",
          "Publication",
          "InVitroSystem",
          "MultiplexedSample",
          "PrimaryCell",
          "TechnicalSample",
          "Tissue",
          "WholeOrganism",
          "Software",
          "SoftwareVersion",
          "Source",
          "Treatment",
          "User",
          "Workflow"
        ]
      },
      "JSONSchema": {
        "type": "object",
        "description": "A JSON Schema object"
      },
      "NoResultsResponse": {
        "type": "object",
        "properties": {
          "@context": {
            "type": "string"
          },
          "@graph": {
            "type": "array",
            "items": {}
          },
          "@id": {
            "type": "string"
          },
          "@type": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "clear_filters": {
            "type": "string"
          },
          "columns": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                }
              }
            }
          },
          "facet_groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "facet_fields": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "facets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "terms": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string"
                      },
                      "doc_count": {
                        "type": "integer"
                      }
                    }
                  }
                },
                "total": {
                  "type": "integer"
                },
                "type": {
                  "type": "string"
                },
                "appended": {
                  "type": "boolean"
                },
                "open_on_load": {
                  "type": "boolean"
                }
              }
            }
          },
          "filters": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "term": {
                  "type": "string"
                },
                "remove": {
                  "type": "string"
                }
              }
            }
          },
          "notification": {
            "type": "string"
          },
          "sort": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "order": {
                  "type": "string"
                },
                "unmapped_type": {
                  "type": "string"
                }
              }
            }
          },
          "title": {
            "type": "string"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "AccessKey": {
        "title": "Access Key",
        "additionalProperties": false,
        "type": "object",
        "properties": {
          "schema_version": {
            "title": "Schema Version",
            "description": "The version of the JSON schema that the server uses to validate the object.",
            "type": "string",
            "pattern": "^\\d+(\\.\\d+)*$",
            "default": "2"
          },
          "uuid": {
            "title": "UUID",
            "description": "The unique identifier associated with every object.",
            "type": "string",
            "format": "uuid"
          },
          "notes": {
            "title": "Notes",
            "description": "DACC internal notes.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "aliases": {
            "title": "Aliases",
            "description": "Lab specific identifiers to reference an object.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Lab Alias",
              "description": "A lab specific identifier to reference an object.",
              "type": "string",
              "pattern": "^(?:j-michael-cherry|ali-mortazavi|barbara-wold|lior-pachter|grant-macgregor|kim-green|mark-craven|qiongshi-lu|audrey-gasch|robert-steiner|jesse-engreitz|thomas-quertermous|anshul-kundaje|michael-bassik|will-greenleaf|marlene-rabinovitch|lars-steinmetz|jay-shendure|nadav-ahituv|martin-kircher|danwei-huangfu|michael-beer|anna-katerina-hadjantonakis|christina-leslie|alexander-rudensky|laura-donlin|hannah-carter|bing-ren|kyle-gaulton|maike-sander|charles-gersbach|gregory-crawford|tim-reddy|ansuman-satpathy|andrew-allen|gary-hon|nikhil-munshi|maria-chahrour|w-lee-kraus|lea-starita|doug-fowler|luca-pinello|guillaume-lettre|benhur-lee|daniel-bauer|richard-sherwood|benjamin-kleinstiver|marc-vidal|david-hill|frederick-roth|mikko-taipale|anne-carpenter|hyejung-won|karen-mohlke|michael-love|jason-buenrostro|bradley-bernstein|hilary-finucane|chongyuan-luo|noah-zaitlen|kathrin-plath|roy-wollman|jason-ernst|zhiping-weng|manuel-garber|xihong-lin|alan-boyle|ryan-mills|jie-liu|maureen-sartor|joshua-welch|stephen-montgomery|alexis-battle|livnat-jerby|jonathan-pritchard|predrag-radivojac|sean-mooney|harinder-singh|nidhi-sahni|jishnu-das|hao-wu|sreeram-kannan|hongjun-song|alkes-price|soumya-raychaudhuri|shamil-sunyaev|len-pennacchio|axel-visel|jill-moore|ting-wang|feng-yue|buenrostro-bernstein|igvf|igvf-dacc):[a-zA-Z\\d_$.+!*,()'-]+(?:\\s[a-zA-Z\\d_$.+!*,()'-]+)*$"
            }
          },
          "creation_timestamp": {
            "title": "Creation Timestamp",
            "description": "The date the object was created.",
            "type": "string",
            "format": "date-time"
          },
          "submitted_by": {
            "title": "Submitted By",
            "description": "The user who submitted the object.",
            "type": "string"
          },
          "submitter_comment": {
            "title": "Submitter Comment",
            "description": "Additional information specified by the submitter to be displayed as a comment on the portal.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "description": {
            "title": "Description",
            "description": "Description of the access key.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$|^$",
            "default": ""
          },
          "status": {
            "title": "Status",
            "type": "string",
            "default": "current",
            "enum": [
              "current",
              "deleted"
            ]
          },
          "user": {
            "title": "User",
            "description": "The user that is assigned to this access key.",
            "type": "string"
          },
          "access_key_id": {
            "title": "Access Key ID",
            "description": "An access key.",
            "type": "string"
          },
          "secret_access_key_hash": {
            "title": "Secret Access Key Hash",
            "description": "A secret access key.",
            "type": "string"
          },
          "@id": {
            "title": "ID",
            "type": "string"
          },
          "@type": {
            "title": "Type",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "summary": {
            "title": "Summary",
            "type": "string",
            "description": "A summary of the object."
          }
        }
      },
      "AnalysisStep": {
        "title": "Analysis Step",
        "description": "A step in a computational analysis workflow. For example, a sequence alignment step that represents the phase of the computational analysis in which sequenced reads are being aligned to the reference genome.",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "release_timestamp": {
            "title": "Release Timestamp",
            "description": "The date the object was released.",
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "title": "Status",
            "type": "string",
            "description": "The status of the metadata object.",
            "default": "in progress",
            "enum": [
              "archived",
              "deleted",
              "in progress",
              "released"
            ]
          },
          "lab": {
            "title": "Lab",
            "description": "Lab associated with the submission.",
            "type": "string"
          },
          "award": {
            "title": "Award",
            "description": "Grant associated with the submission.",
            "type": "string"
          },
          "schema_version": {
            "title": "Schema Version",
            "description": "The version of the JSON schema that the server uses to validate the object.",
            "type": "string",
            "pattern": "^\\d+(\\.\\d+)*$",
            "default": "5"
          },
          "uuid": {
            "title": "UUID",
            "description": "The unique identifier associated with every object.",
            "type": "string",
            "format": "uuid"
          },
          "notes": {
            "title": "Notes",
            "description": "DACC internal notes.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "aliases": {
            "title": "Aliases",
            "description": "Lab specific identifiers to reference an object.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Lab Alias",
              "description": "A lab specific identifier to reference an object.",
              "type": "string",
              "pattern": "^(?:j-michael-cherry|ali-mortazavi|barbara-wold|lior-pachter|grant-macgregor|kim-green|mark-craven|qiongshi-lu|audrey-gasch|robert-steiner|jesse-engreitz|thomas-quertermous|anshul-kundaje|michael-bassik|will-greenleaf|marlene-rabinovitch|lars-steinmetz|jay-shendure|nadav-ahituv|martin-kircher|danwei-huangfu|michael-beer|anna-katerina-hadjantonakis|christina-leslie|alexander-rudensky|laura-donlin|hannah-carter|bing-ren|kyle-gaulton|maike-sander|charles-gersbach|gregory-crawford|tim-reddy|ansuman-satpathy|andrew-allen|gary-hon|nikhil-munshi|maria-chahrour|w-lee-kraus|lea-starita|doug-fowler|luca-pinello|guillaume-lettre|benhur-lee|daniel-bauer|richard-sherwood|benjamin-kleinstiver|marc-vidal|david-hill|frederick-roth|mikko-taipale|anne-carpenter|hyejung-won|karen-mohlke|michael-love|jason-buenrostro|bradley-bernstein|hilary-finucane|chongyuan-luo|noah-zaitlen|kathrin-plath|roy-wollman|jason-ernst|zhiping-weng|manuel-garber|xihong-lin|alan-boyle|ryan-mills|jie-liu|maureen-sartor|joshua-welch|stephen-montgomery|alexis-battle|livnat-jerby|jonathan-pritchard|predrag-radivojac|sean-mooney|harinder-singh|nidhi-sahni|jishnu-das|hao-wu|sreeram-kannan|hongjun-song|alkes-price|soumya-raychaudhuri|shamil-sunyaev|len-pennacchio|axel-visel|jill-moore|ting-wang|feng-yue|buenrostro-bernstein|igvf|igvf-dacc):[a-zA-Z\\d_$.+!*,()'-]+(?:\\s[a-zA-Z\\d_$.+!*,()'-]+)*$"
            }
          },
          "creation_timestamp": {
            "title": "Creation Timestamp",
            "description": "The date the object was created.",
            "type": "string",
            "format": "date-time"
          },
          "submitted_by": {
            "title": "Submitted By",
            "description": "The user who submitted the object.",
            "type": "string"
          },
          "submitter_comment": {
            "title": "Submitter Comment",
            "description": "Additional information specified by the submitter to be displayed as a comment on the portal.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "description": {
            "title": "Description",
            "description": "A plain text description of the object.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "analysis_step_types": {
            "title": "Analysis Step Types",
            "description": "The classification of the software.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Type",
              "type": "string",
              "enum": [
                "alignment",
                "file format conversion",
                "signal generation"
              ]
            }
          },
          "step_label": {
            "title": "Step Label",
            "description": "Unique lowercased label of the analysis step that includes the relevant assays, the software used, and the purpose of the step, e.g. rampage-grit-peak-calling-step",
            "type": "string",
            "pattern": "^[a-z0-9-]+-step$"
          },
          "title": {
            "title": "Title",
            "description": "The preferred viewable name of the analysis step, likely the same as the step label.",
            "type": "string",
            "pattern": "^[a-zA-Z\\d_().,-]+(?:\\s[a-zA-Z\\d_().,-]+)*[step|Step]$"
          },
          "workflow": {
            "title": "Workflow",
            "description": "The computational workflow in which this analysis step belongs.",
            "type": "string"
          },
          "parents": {
            "title": "Parents",
            "description": "The precursor steps.",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Parent",
              "description": "A precursor step.",
              "type": "string"
            }
          },
          "input_content_types": {
            "title": "Input Content Types",
            "description": "The content types used as input for the analysis step.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Input Content Type",
              "description": "A content type used as input for the analysis step.",
              "type": "string",
              "anyOf": [
                {
                  "comment": "Content Type describes the content of the file.",
                  "enum": [
                    "alignments",
                    "transcriptome alignments"
                  ],
                  "submissionExample": {
                    "appscript": "alignments",
                    "igvf_utils": "alignments"
                  }
                },
                {
                  "comment": "Content Type describes the content of the file.",
                  "enum": [
                    "seqspec"
                  ],
                  "submissionExample": {
                    "appscript": "seqspec",
                    "igvf_utils": "seqspec"
                  }
                },
                {
                  "comment": "Content Type describes the content of the file.",
                  "enum": [
                    "contact matrix",
                    "sparse gene count matrix",
                    "sparse peak count matrix",
                    "sparse transcript count matrix",
                    "transcriptome annotations"
                  ],
                  "submissionExample": {
                    "appscript": "contact matrix",
                    "igvf_utils": "contact matrix"
                  }
                },
                {
                  "comment": "Content Type describes the content of the file. Genome reference are composite nucleic acid sequences assembled from the sequence of several different individual organisms representing the species. Guide RNA sequences are sequences of RNA molecules used in assays involving CRISPR editing. Sequence barcodes are lists of barcodes found in the sequencing library. Spike-ins are nucleic acid fragments of known sequence and quantity used for calibration in high-throughput sequencing. Transcriptome references are transcriptomic sequences of an idealized representative individual in a species. Vector sequences are sequences tested in MPRAs.",
                  "oneOf": [
                    {
                      "enum": [
                        "biological_context",
                        "complexes",
                        "complexes_complexes",
                        "complexes_proteins",
                        "complexes_terms",
                        "diseases_genes",
                        "drugs",
                        "elements_genes",
                        "elements reference",
                        "exclusion list",
                        "genes",
                        "genes_genes",
                        "genes_pathways",
                        "genes_terms",
                        "genes_transcripts",
                        "genome reference",
                        "go_terms_proteins",
                        "inclusion list",
                        "motifs",
                        "motifs_proteins",
                        "ontology_terms",
                        "ontology_terms_ontology_terms",
                        "pathways",
                        "pathways_pathways",
                        "proteins",
                        "proteins_proteins",
                        "regulatory_regions",
                        "regulatory_regions_genes",
                        "regulatory_regions_genes_biosamples",
                        "regulatory_regions_genes_biosamples_donors",
                        "regulatory_regions_genes_biosamples_treatments_chebi",
                        "regulatory_regions_genes_biosamples_treatments_proteins",
                        "regulatory_regions_regulatory_regions",
                        "spike-ins",
                        "studies",
                        "studies_variants",
                        "studies_variants_phenotypes",
                        "transcriptome reference",
                        "transcripts",
                        "transcripts_proteins",
                        "variants",
                        "variants_drugs",
                        "variants_drugs_genes",
                        "variants_genes",
                        "variants_genes_terms",
                        "variants_proteins",
                        "variants_proteins_terms",
                        "variants_proteins_biosamples",
                        "variants_proteins_phenotypes",
                        "variants_regulatory_regions",
                        "variants_variants"
                      ]
                    },
                    {
                      "enum": [
                        "guide RNA sequences",
                        "sequence barcodes",
                        "vector sequences"
                      ],
                      "permission": "admin_only"
                    }
                  ],
                  "submissionExample": {
                    "appscript": "variants",
                    "igvf_utils": "variants"
                  }
                },
                {
                  "comment": "Content Type describes the content of the file. Reads are individual sequences of bases corresponding to DNA or RNA fragments in a FASTQ text file format. Subreads are sequences of bases produced using PacBio platforms.",
                  "enum": [
                    "Nanopore reads",
                    "PacBio subreads",
                    "reads"
                  ],
                  "submissionExample": {
                    "appscript": "reads",
                    "igvf_utils": "reads"
                  }
                },
                {
                  "comment": "Content Type describes the content of the file.",
                  "enum": [
                    "signal",
                    "signal of all reads",
                    "signal of unique reads",
                    "signal p-value",
                    "raw signal",
                    "read-depth signal",
                    "control signal",
                    "fold change over control"
                  ],
                  "submissionExample": {
                    "appscript": "signal",
                    "igvf_utils": "signal"
                  }
                }
              ]
            }
          },
          "output_content_types": {
            "title": "Output Content Types",
            "description": "The content types produced as output by the analysis step.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Output Content Type",
              "description": "A content type produced as output by the analysis step.",
              "type": "string",
              "anyOf": [
                {
                  "comment": "Content Type describes the content of the file.",
                  "enum": [
                    "alignments",
                    "transcriptome alignments"
                  ],
                  "submissionExample": {
                    "appscript": "alignments",
                    "igvf_utils": "alignments"
                  }
                },
                {
                  "comment": "Content Type describes the content of the file.",
                  "enum": [
                    "seqspec"
                  ],
                  "submissionExample": {
                    "appscript": "seqspec",
                    "igvf_utils": "seqspec"
                  }
                },
                {
                  "comment": "Content Type describes the content of the file.",
                  "enum": [
                    "contact matrix",
                    "sparse gene count matrix",
                    "sparse peak count matrix",
                    "sparse transcript count matrix",
                    "transcriptome annotations"
                  ],
                  "submissionExample": {
                    "appscript": "contact matrix",
                    "igvf_utils": "contact matrix"
                  }
                },
                {
                  "comment": "Content Type describes the content of the file. Genome reference are composite nucleic acid sequences assembled from the sequence of several different individual organisms representing the species. Guide RNA sequences are sequences of RNA molecules used in assays involving CRISPR editing. Sequence barcodes are lists of barcodes found in the sequencing library. Spike-ins are nucleic acid fragments of known sequence and quantity used for calibration in high-throughput sequencing. Transcriptome references are transcriptomic sequences of an idealized representative individual in a species. Vector sequences are sequences tested in MPRAs.",
                  "oneOf": [
                    {
                      "enum": [
                        "biological_context",
                        "complexes",
                        "complexes_complexes",
                        "complexes_proteins",
                        "complexes_terms",
                        "diseases_genes",
                        "drugs",
                        "elements_genes",
                        "elements reference",
                        "exclusion list",
                        "genes",
                        "genes_genes",
                        "genes_pathways",
                        "genes_terms",
                        "genes_transcripts",
                        "genome reference",
                        "go_terms_proteins",
                        "inclusion list",
                        "motifs",
                        "motifs_proteins",
                        "ontology_terms",
                        "ontology_terms_ontology_terms",
                        "pathways",
                        "pathways_pathways",
                        "proteins",
                        "proteins_proteins",
                        "regulatory_regions",
                        "regulatory_regions_genes",
                        "regulatory_regions_genes_biosamples",
                        "regulatory_regions_genes_biosamples_donors",
                        "regulatory_regions_genes_biosamples_treatments_chebi",
                        "regulatory_regions_genes_biosamples_treatments_proteins",
                        "regulatory_regions_regulatory_regions",
                        "spike-ins",
                        "studies",
                        "studies_variants",
                        "studies_variants_phenotypes",
                        "transcriptome reference",
                        "transcripts",
                        "transcripts_proteins",
                        "variants",
                        "variants_drugs",
                        "variants_drugs_genes",
                        "variants_genes",
                        "variants_genes_terms",
                        "variants_proteins",
                        "variants_proteins_terms",
                        "variants_proteins_biosamples",
                        "variants_proteins_phenotypes",
                        "variants_regulatory_regions",
                        "variants_variants"
                      ]
                    },
                    {
                      "enum": [
                        "guide RNA sequences",
                        "sequence barcodes",
                        "vector sequences"
                      ],
                      "permission": "admin_only"
                    }
                  ],
                  "submissionExample": {
                    "appscript": "variants",
                    "igvf_utils": "variants"
                  }
                },
                {
                  "comment": "Content Type describes the content of the file. Reads are individual sequences of bases corresponding to DNA or RNA fragments in a FASTQ text file format. Subreads are sequences of bases produced using PacBio platforms.",
                  "enum": [
                    "Nanopore reads",
                    "PacBio subreads",
                    "reads"
                  ],
                  "submissionExample": {
                    "appscript": "reads",
                    "igvf_utils": "reads"
                  }
                },
                {
                  "comment": "Content Type describes the content of the file.",
                  "enum": [
                    "signal",
                    "signal of all reads",
                    "signal of unique reads",
                    "signal p-value",
                    "raw signal",
                    "read-depth signal",
                    "control signal",
                    "fold change over control"
                  ],
                  "submissionExample": {
                    "appscript": "signal",
                    "igvf_utils": "signal"
                  }
                }
              ]
            }
          },
          "@id": {
            "title": "ID",
            "type": "string"
          },
          "@type": {
            "title": "Type",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "summary": {
            "title": "Summary",
            "type": "string",
            "description": "A summary of the object."
          },
          "name": {
            "title": "Name",
            "type": "string",
            "description": "Full name of the analysis step."
          }
        }
      },
      "AnalysisStepVersion": {
        "title": "Analysis Step Version",
        "description": "A step version in a computational analysis workflow.",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "release_timestamp": {
            "title": "Release Timestamp",
            "description": "The date the object was released.",
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "title": "Status",
            "type": "string",
            "description": "The status of the metadata object.",
            "default": "in progress",
            "enum": [
              "archived",
              "deleted",
              "in progress",
              "released"
            ]
          },
          "lab": {
            "title": "Lab",
            "description": "Lab associated with the submission.",
            "type": "string"
          },
          "award": {
            "title": "Award",
            "description": "Grant associated with the submission.",
            "type": "string"
          },
          "schema_version": {
            "title": "Schema Version",
            "description": "The version of the JSON schema that the server uses to validate the object.",
            "type": "string",
            "pattern": "^\\d+(\\.\\d+)*$",
            "default": "1"
          },
          "uuid": {
            "title": "UUID",
            "description": "The unique identifier associated with every object.",
            "type": "string",
            "format": "uuid"
          },
          "notes": {
            "title": "Notes",
            "description": "DACC internal notes.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "aliases": {
            "title": "Aliases",
            "description": "Lab specific identifiers to reference an object.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Lab Alias",
              "description": "A lab specific identifier to reference an object.",
              "type": "string",
              "pattern": "^(?:j-michael-cherry|ali-mortazavi|barbara-wold|lior-pachter|grant-macgregor|kim-green|mark-craven|qiongshi-lu|audrey-gasch|robert-steiner|jesse-engreitz|thomas-quertermous|anshul-kundaje|michael-bassik|will-greenleaf|marlene-rabinovitch|lars-steinmetz|jay-shendure|nadav-ahituv|martin-kircher|danwei-huangfu|michael-beer|anna-katerina-hadjantonakis|christina-leslie|alexander-rudensky|laura-donlin|hannah-carter|bing-ren|kyle-gaulton|maike-sander|charles-gersbach|gregory-crawford|tim-reddy|ansuman-satpathy|andrew-allen|gary-hon|nikhil-munshi|maria-chahrour|w-lee-kraus|lea-starita|doug-fowler|luca-pinello|guillaume-lettre|benhur-lee|daniel-bauer|richard-sherwood|benjamin-kleinstiver|marc-vidal|david-hill|frederick-roth|mikko-taipale|anne-carpenter|hyejung-won|karen-mohlke|michael-love|jason-buenrostro|bradley-bernstein|hilary-finucane|chongyuan-luo|noah-zaitlen|kathrin-plath|roy-wollman|jason-ernst|zhiping-weng|manuel-garber|xihong-lin|alan-boyle|ryan-mills|jie-liu|maureen-sartor|joshua-welch|stephen-montgomery|alexis-battle|livnat-jerby|jonathan-pritchard|predrag-radivojac|sean-mooney|harinder-singh|nidhi-sahni|jishnu-das|hao-wu|sreeram-kannan|hongjun-song|alkes-price|soumya-raychaudhuri|shamil-sunyaev|len-pennacchio|axel-visel|jill-moore|ting-wang|feng-yue|buenrostro-bernstein|igvf|igvf-dacc):[a-zA-Z\\d_$.+!*,()'-]+(?:\\s[a-zA-Z\\d_$.+!*,()'-]+)*$"
            }
          },
          "creation_timestamp": {
            "title": "Creation Timestamp",
            "description": "The date the object was created.",
            "type": "string",
            "format": "date-time"
          },
          "submitted_by": {
            "title": "Submitted By",
            "description": "The user who submitted the object.",
            "type": "string"
          },
          "submitter_comment": {
            "title": "Submitter Comment",
            "description": "Additional information specified by the submitter to be displayed as a comment on the portal.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "description": {
            "title": "Description",
            "description": "A plain text description of the object.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "analysis_step": {
            "title": "Analysis Step",
            "description": "The analysis step which this version belongs to.",
            "type": "string"
          },
          "software_versions": {
            "title": "Software Versions",
            "description": "The software versions used in this analysis step versions.",
            "uniqueItems": true,
            "type": "array",
            "items": {
              "title": "Software Versions",
              "description": "The software versions used in this analysis step versions.",
              "type": "string"
            }
          },
          "@id": {
            "title": "ID",
            "type": "string"
          },
          "@type": {
            "title": "Type",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "summary": {
            "title": "Summary",
            "type": "string",
            "description": "A summary of the object."
          }
        }
      },
      "Award": {
        "title": "Grant",
        "description": "A grant providing financial support for a scientific project. For example, HG012076 supporting \"Single-cell Mapping Center for Human Regulatory Elements and Gene Activity.\"",
        "additionalProperties": false,
        "type": "object",
        "properties": {
          "status": {
            "title": "Status",
            "type": "string",
            "description": "The status of the metadata object.",
            "default": "current",
            "enum": [
              "current",
              "deleted",
              "disabled"
            ]
          },
          "url": {
            "title": "URL",
            "description": "An external resource with additional information.",
            "type": "string",
            "format": "uri"
          },
          "schema_version": {
            "title": "Schema Version",
            "description": "The version of the JSON schema that the server uses to validate the object.",
            "type": "string",
            "pattern": "^\\d+(\\.\\d+)*$",
            "default": "5"
          },
          "uuid": {
            "title": "UUID",
            "description": "The unique identifier associated with every object.",
            "type": "string",
            "format": "uuid"
          },
          "notes": {
            "title": "Notes",
            "description": "DACC internal notes.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "aliases": {
            "title": "Aliases",
            "description": "Lab specific identifiers to reference an object.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Lab Alias",
              "description": "A lab specific identifier to reference an object.",
              "type": "string",
              "pattern": "^(?:j-michael-cherry|ali-mortazavi|barbara-wold|lior-pachter|grant-macgregor|kim-green|mark-craven|qiongshi-lu|audrey-gasch|robert-steiner|jesse-engreitz|thomas-quertermous|anshul-kundaje|michael-bassik|will-greenleaf|marlene-rabinovitch|lars-steinmetz|jay-shendure|nadav-ahituv|martin-kircher|danwei-huangfu|michael-beer|anna-katerina-hadjantonakis|christina-leslie|alexander-rudensky|laura-donlin|hannah-carter|bing-ren|kyle-gaulton|maike-sander|charles-gersbach|gregory-crawford|tim-reddy|ansuman-satpathy|andrew-allen|gary-hon|nikhil-munshi|maria-chahrour|w-lee-kraus|lea-starita|doug-fowler|luca-pinello|guillaume-lettre|benhur-lee|daniel-bauer|richard-sherwood|benjamin-kleinstiver|marc-vidal|david-hill|frederick-roth|mikko-taipale|anne-carpenter|hyejung-won|karen-mohlke|michael-love|jason-buenrostro|bradley-bernstein|hilary-finucane|chongyuan-luo|noah-zaitlen|kathrin-plath|roy-wollman|jason-ernst|zhiping-weng|manuel-garber|xihong-lin|alan-boyle|ryan-mills|jie-liu|maureen-sartor|joshua-welch|stephen-montgomery|alexis-battle|livnat-jerby|jonathan-pritchard|predrag-radivojac|sean-mooney|harinder-singh|nidhi-sahni|jishnu-das|hao-wu|sreeram-kannan|hongjun-song|alkes-price|soumya-raychaudhuri|shamil-sunyaev|len-pennacchio|axel-visel|jill-moore|ting-wang|feng-yue|buenrostro-bernstein|igvf|igvf-dacc):[a-zA-Z\\d_$.+!*,()'-]+(?:\\s[a-zA-Z\\d_$.+!*,()'-]+)*$"
            }
          },
          "creation_timestamp": {
            "title": "Creation Timestamp",
            "description": "The date the object was created.",
            "type": "string",
            "format": "date-time"
          },
          "submitted_by": {
            "title": "Submitted By",
            "description": "The user who submitted the object.",
            "type": "string"
          },
          "submitter_comment": {
            "title": "Submitter Comment",
            "description": "Additional information specified by the submitter to be displayed as a comment on the portal.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "description": {
            "title": "Description",
            "description": "A plain text description of the object.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "title": {
            "title": "Title",
            "description": "The grant name from the NIH database, if applicable.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "name": {
            "title": "Name",
            "description": "The official grant number from the NIH database, if applicable",
            "type": "string",
            "pattern": "^[A-Za-z0-9\\-]+$"
          },
          "start_date": {
            "title": "Start Date",
            "description": "The date when the award begins.",
            "type": "string",
            "format": "date"
          },
          "end_date": {
            "title": "End Date",
            "description": "The date when the award concludes.",
            "type": "string",
            "format": "date"
          },
          "pis": {
            "title": "Principal Investigators",
            "description": "Principal Investigator(s) of the grant.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Investigator",
              "description": "User object of the investigator.",
              "type": "string"
            }
          },
          "contact_pi": {
            "title": "Contact P.I.",
            "description": "The contact Principal Investigator of the grant.",
            "type": "string"
          },
          "project": {
            "title": "Project",
            "description": "The collection of biological data related to a single initiative, originating from a consortium.",
            "type": "string",
            "enum": [
              "community",
              "ENCODE",
              "IGVF"
            ]
          },
          "viewing_group": {
            "title": "View Access Group",
            "description": "The group that determines which set of data the user has permission to view.",
            "type": "string",
            "enum": [
              "community",
              "IGVF"
            ]
          },
          "component": {
            "title": "Project Component",
            "description": "The project component the award is associated with.",
            "type": "string",
            "enum": [
              "affiliate",
              "data analysis",
              "data coordination",
              "functional characterization",
              "mapping",
              "networks",
              "predictive modeling"
            ]
          },
          "@id": {
            "title": "ID",
            "type": "string"
          },
          "@type": {
            "title": "Type",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "summary": {
            "title": "Summary",
            "type": "string",
            "description": "A summary of the award."
          }
        }
      },
      "Biomarker": {
        "title": "Biomarker",
        "description": "A biomarker, such as a cell surface protein, that is measured, detected, or used for sample sorting based upon the biomarker's presence, absence, or quantification. For example, a CD19 positive biomarker that was detected in a sample.",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "release_timestamp": {
            "title": "Release Timestamp",
            "description": "The date the object was released.",
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "title": "Status",
            "type": "string",
            "description": "The status of the metadata object.",
            "default": "in progress",
            "enum": [
              "archived",
              "deleted",
              "in progress",
              "released"
            ]
          },
          "lab": {
            "title": "Lab",
            "description": "Lab associated with the submission.",
            "type": "string"
          },
          "award": {
            "title": "Award",
            "description": "Grant associated with the submission.",
            "type": "string"
          },
          "schema_version": {
            "title": "Schema Version",
            "description": "The version of the JSON schema that the server uses to validate the object.",
            "type": "string",
            "pattern": "^\\d+(\\.\\d+)*$",
            "default": "4"
          },
          "uuid": {
            "title": "UUID",
            "description": "The unique identifier associated with every object.",
            "type": "string",
            "format": "uuid"
          },
          "notes": {
            "title": "Notes",
            "description": "DACC internal notes.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "aliases": {
            "title": "Aliases",
            "description": "Lab specific identifiers to reference an object.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Lab Alias",
              "description": "A lab specific identifier to reference an object.",
              "type": "string",
              "pattern": "^(?:j-michael-cherry|ali-mortazavi|barbara-wold|lior-pachter|grant-macgregor|kim-green|mark-craven|qiongshi-lu|audrey-gasch|robert-steiner|jesse-engreitz|thomas-quertermous|anshul-kundaje|michael-bassik|will-greenleaf|marlene-rabinovitch|lars-steinmetz|jay-shendure|nadav-ahituv|martin-kircher|danwei-huangfu|michael-beer|anna-katerina-hadjantonakis|christina-leslie|alexander-rudensky|laura-donlin|hannah-carter|bing-ren|kyle-gaulton|maike-sander|charles-gersbach|gregory-crawford|tim-reddy|ansuman-satpathy|andrew-allen|gary-hon|nikhil-munshi|maria-chahrour|w-lee-kraus|lea-starita|doug-fowler|luca-pinello|guillaume-lettre|benhur-lee|daniel-bauer|richard-sherwood|benjamin-kleinstiver|marc-vidal|david-hill|frederick-roth|mikko-taipale|anne-carpenter|hyejung-won|karen-mohlke|michael-love|jason-buenrostro|bradley-bernstein|hilary-finucane|chongyuan-luo|noah-zaitlen|kathrin-plath|roy-wollman|jason-ernst|zhiping-weng|manuel-garber|xihong-lin|alan-boyle|ryan-mills|jie-liu|maureen-sartor|joshua-welch|stephen-montgomery|alexis-battle|livnat-jerby|jonathan-pritchard|predrag-radivojac|sean-mooney|harinder-singh|nidhi-sahni|jishnu-das|hao-wu|sreeram-kannan|hongjun-song|alkes-price|soumya-raychaudhuri|shamil-sunyaev|len-pennacchio|axel-visel|jill-moore|ting-wang|feng-yue|buenrostro-bernstein|igvf|igvf-dacc):[a-zA-Z\\d_$.+!*,()'-]+(?:\\s[a-zA-Z\\d_$.+!*,()'-]+)*$"
            }
          },
          "creation_timestamp": {
            "title": "Creation Timestamp",
            "description": "The date the object was created.",
            "type": "string",
            "format": "date-time"
          },
          "submitted_by": {
            "title": "Submitted By",
            "description": "The user who submitted the object.",
            "type": "string"
          },
          "submitter_comment": {
            "title": "Submitter Comment",
            "description": "Additional information specified by the submitter to be displayed as a comment on the portal.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "description": {
            "title": "Description",
            "description": "A plain text description of the object.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "name": {
            "title": "Name",
            "description": "The biomarker name.",
            "type": "string"
          },
          "classification": {
            "title": "Classification",
            "description": "Sample specific biomarker.",
            "type": "string",
            "enum": [
              "cell surface protein",
              "marker gene"
            ]
          },
          "quantification": {
            "title": "Quantification",
            "description": "The biomarker association to the biosample, disease or other condition.  This can be the absence of the biomarker or the presence of the biomarker in some low, intermediate or high quantity.",
            "type": "string",
            "enum": [
              "negative",
              "positive",
              "low",
              "intermediate",
              "high"
            ]
          },
          "synonyms": {
            "title": "Synonyms",
            "description": "Alternate names for this biomarker.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Synonym",
              "type": "string"
            }
          },
          "gene": {
            "title": "Gene",
            "description": "Biomarker gene.",
            "type": "string"
          },
          "@id": {
            "title": "ID",
            "type": "string"
          },
          "@type": {
            "title": "Type",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "summary": {
            "title": "Summary",
            "type": "string",
            "description": "A summary of the object."
          },
          "name_quantification": {
            "title": "Name and Quantification",
            "type": "string",
            "description": "A concatenation of the name and quantification of the biomarker."
          },
          "biomarker_for": {
            "title": "Biomarker For",
            "description": "The samples which have been confirmed to have this biomarker.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Biomarker For"
            }
          }
        }
      },
      "Document": {
        "title": "Document",
        "description": "A document with additional information regarding another object submitted to the data portal. For example, a plasmid map document associated with a transduced cell line sample.",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "release_timestamp": {
            "title": "Release Timestamp",
            "description": "The date the object was released.",
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "title": "Status",
            "type": "string",
            "description": "The status of the metadata object.",
            "default": "in progress",
            "enum": [
              "archived",
              "deleted",
              "in progress",
              "released"
            ]
          },
          "lab": {
            "title": "Lab",
            "description": "Lab associated with the submission.",
            "type": "string"
          },
          "award": {
            "title": "Award",
            "description": "Grant associated with the submission.",
            "type": "string"
          },
          "attachment": {
            "title": "Attachment",
            "type": "object",
            "description": "The attached content.",
            "additionalProperties": false,
            "properties": {
              "download": {
                "title": "File Name",
                "type": "string"
              },
              "href": {
                "title": "Hypertext REFerence",
                "type": "string"
              },
              "type": {
                "title": "MIME type",
                "type": "string",
                "enum": [
                  "application/json",
                  "application/pdf",
                  "image/gif",
                  "image/jpeg",
                  "image/png",
                  "image/svs",
                  "image/tiff",
                  "text/autosql",
                  "text/html",
                  "text/plain",
                  "text/tab-separated-values"
                ]
              },
              "md5sum": {
                "title": "MD5sum",
                "type": "string",
                "format": "md5sum"
              },
              "size": {
                "title": "File Size",
                "type": "integer",
                "minimum": 0
              },
              "width": {
                "title": "Image Width",
                "type": "integer",
                "minimum": 0
              },
              "height": {
                "title": "Image Height",
                "type": "integer",
                "minimum": 0
              }
            }
          },
          "schema_version": {
            "title": "Schema Version",
            "description": "The version of the JSON schema that the server uses to validate the object.",
            "type": "string",
            "pattern": "^\\d+(\\.\\d+)*$",
            "default": "4"
          },
          "uuid": {
            "title": "UUID",
            "description": "The unique identifier associated with every object.",
            "type": "string",
            "format": "uuid"
          },
          "notes": {
            "title": "Notes",
            "description": "DACC internal notes.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "aliases": {
            "title": "Aliases",
            "description": "Lab specific identifiers to reference an object.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Lab Alias",
              "description": "A lab specific identifier to reference an object.",
              "type": "string",
              "pattern": "^(?:j-michael-cherry|ali-mortazavi|barbara-wold|lior-pachter|grant-macgregor|kim-green|mark-craven|qiongshi-lu|audrey-gasch|robert-steiner|jesse-engreitz|thomas-quertermous|anshul-kundaje|michael-bassik|will-greenleaf|marlene-rabinovitch|lars-steinmetz|jay-shendure|nadav-ahituv|martin-kircher|danwei-huangfu|michael-beer|anna-katerina-hadjantonakis|christina-leslie|alexander-rudensky|laura-donlin|hannah-carter|bing-ren|kyle-gaulton|maike-sander|charles-gersbach|gregory-crawford|tim-reddy|ansuman-satpathy|andrew-allen|gary-hon|nikhil-munshi|maria-chahrour|w-lee-kraus|lea-starita|doug-fowler|luca-pinello|guillaume-lettre|benhur-lee|daniel-bauer|richard-sherwood|benjamin-kleinstiver|marc-vidal|david-hill|frederick-roth|mikko-taipale|anne-carpenter|hyejung-won|karen-mohlke|michael-love|jason-buenrostro|bradley-bernstein|hilary-finucane|chongyuan-luo|noah-zaitlen|kathrin-plath|roy-wollman|jason-ernst|zhiping-weng|manuel-garber|xihong-lin|alan-boyle|ryan-mills|jie-liu|maureen-sartor|joshua-welch|stephen-montgomery|alexis-battle|livnat-jerby|jonathan-pritchard|predrag-radivojac|sean-mooney|harinder-singh|nidhi-sahni|jishnu-das|hao-wu|sreeram-kannan|hongjun-song|alkes-price|soumya-raychaudhuri|shamil-sunyaev|len-pennacchio|axel-visel|jill-moore|ting-wang|feng-yue|buenrostro-bernstein|igvf|igvf-dacc):[a-zA-Z\\d_$.+!*,()'-]+(?:\\s[a-zA-Z\\d_$.+!*,()'-]+)*$"
            }
          },
          "creation_timestamp": {
            "title": "Creation Timestamp",
            "description": "The date the object was created.",
            "type": "string",
            "format": "date-time"
          },
          "submitted_by": {
            "title": "Submitted By",
            "description": "The user who submitted the object.",
            "type": "string"
          },
          "submitter_comment": {
            "title": "Submitter Comment",
            "description": "Additional information specified by the submitter to be displayed as a comment on the portal.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "description": {
            "title": "Description",
            "description": "A plain text description of the object.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "document_type": {
            "title": "Document Type",
            "description": "The category that best describes the document.",
            "type": "string",
            "enum": [
              "cell fate change protocol",
              "characterization",
              "computational protocol",
              "experimental protocol",
              "file format specification",
              "image",
              "model source data",
              "plate map",
              "plasmid map",
              "plasmid sequence",
              "standards"
            ]
          },
          "characterization_method": {
            "title": "Characterization Method",
            "description": "The method used for the characterization.",
            "type": "string",
            "enum": [
              "FACS",
              "immunoblot",
              "immunofluorescence",
              "immunoprecipitation",
              "mass spectrometry",
              "PCR",
              "restriction digest",
              "RT-qPCR",
              "sequencing"
            ]
          },
          "urls": {
            "title": "URL",
            "description": "External resources with additional information to the document.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "URL",
              "description": "An external resource with additional information to the document.",
              "type": "string",
              "format": "uri"
            }
          },
          "@id": {
            "title": "ID",
            "type": "string"
          },
          "@type": {
            "title": "Type",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "summary": {
            "title": "Summary",
            "type": "string",
            "description": "A summary of the object."
          }
        }
      },
      "HumanDonor": {
        "title": "Human Donor",
        "description": "A human donor of any biosample, including cell lines. Submission of any sample originating from a human donor requires submission of information about the relevant donor. For example, submission of the donor of K562 is a prerequisite for submission of any K562 cell line samples.",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "release_timestamp": {
            "title": "Release Timestamp",
            "description": "The date the object was released.",
            "type": "string",
            "format": "date-time"
          },
          "taxa": {
            "title": "Taxa",
            "type": "string",
            "description": "The species of the organism.",
            "enum": [
              "Homo sapiens"
            ]
          },
          "publications": {
            "title": "Publications",
            "description": "The publications associated with this object.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Publication",
              "description": "A publication associated with this object.",
              "type": "string"
            }
          },
          "publication_identifiers": {
            "title": "Publication Identifiers",
            "description": "The publication identifiers that provide more information about the object.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Publication Identifier",
              "description": "A publication identifier that provides more information about the object.",
              "type": "string",
              "pattern": "^(PMID:[0-9]+|doi:10\\.[0-9]{4}[\\d\\s\\S:\\.\\/]+|PMCID:PMC[0-9]+|[0-9]{4}\\.[0-9]{4})$"
            }
          },
          "url": {
            "title": "URL",
            "description": "An external resource with additional information.",
            "type": "string",
            "format": "uri"
          },
          "documents": {
            "title": "Documents",
            "description": "Documents that provide additional information (not data file).",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Document",
              "description": "A document that provides additional information (not data file).",
              "type": "string"
            }
          },
          "lab": {
            "title": "Lab",
            "description": "Lab associated with the submission.",
            "type": "string"
          },
          "award": {
            "title": "Award",
            "description": "Grant associated with the submission.",
            "type": "string"
          },
          "accession": {
            "title": "Accession",
            "description": "A unique identifier to be used to reference the object prefixed with IGVF.",
            "type": "string",
            "format": "accession"
          },
          "alternate_accessions": {
            "title": "Alternate Accessions",
            "description": "Accessions previously assigned to objects that have been merged with this object.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Alternate Accession",
              "description": "An accession previously assigned to an object that has been merged with this object.",
              "type": "string",
              "format": "accession"
            }
          },
          "collections": {
            "title": "Collections",
            "description": "Some samples are part of particular data collections.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "ClinGen",
                "ENCODE",
                "GREGoR",
                "IGVF_catalog_beta_v0.1",
                "IGVF_catalog_beta_v0.2",
                "IGVF_catalog_beta_v0.3",
                "IGVF_catalog_beta_v0.4",
                "MaveDB",
                "MPRAbase",
                "Vista"
              ]
            }
          },
          "status": {
            "title": "Status",
            "type": "string",
            "default": "in progress",
            "description": "The status of the metadata object.",
            "enum": [
              "in progress",
              "released",
              "deleted",
              "replaced",
              "revoked",
              "archived"
            ]
          },
          "revoke_detail": {
            "title": "Revoke Detail",
            "type": "string",
            "description": "Explanation of why an object was transitioned to the revoked status.",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "schema_version": {
            "title": "Schema Version",
            "description": "The version of the JSON schema that the server uses to validate the object.",
            "type": "string",
            "pattern": "^\\d+(\\.\\d+)*$",
            "default": "13"
          },
          "uuid": {
            "title": "UUID",
            "description": "The unique identifier associated with every object.",
            "type": "string",
            "format": "uuid"
          },
          "notes": {
            "title": "Notes",
            "description": "DACC internal notes.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "aliases": {
            "title": "Aliases",
            "description": "Lab specific identifiers to reference an object.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Lab Alias",
              "description": "A lab specific identifier to reference an object.",
              "type": "string",
              "pattern": "^(?:j-michael-cherry|ali-mortazavi|barbara-wold|lior-pachter|grant-macgregor|kim-green|mark-craven|qiongshi-lu|audrey-gasch|robert-steiner|jesse-engreitz|thomas-quertermous|anshul-kundaje|michael-bassik|will-greenleaf|marlene-rabinovitch|lars-steinmetz|jay-shendure|nadav-ahituv|martin-kircher|danwei-huangfu|michael-beer|anna-katerina-hadjantonakis|christina-leslie|alexander-rudensky|laura-donlin|hannah-carter|bing-ren|kyle-gaulton|maike-sander|charles-gersbach|gregory-crawford|tim-reddy|ansuman-satpathy|andrew-allen|gary-hon|nikhil-munshi|maria-chahrour|w-lee-kraus|lea-starita|doug-fowler|luca-pinello|guillaume-lettre|benhur-lee|daniel-bauer|richard-sherwood|benjamin-kleinstiver|marc-vidal|david-hill|frederick-roth|mikko-taipale|anne-carpenter|hyejung-won|karen-mohlke|michael-love|jason-buenrostro|bradley-bernstein|hilary-finucane|chongyuan-luo|noah-zaitlen|kathrin-plath|roy-wollman|jason-ernst|zhiping-weng|manuel-garber|xihong-lin|alan-boyle|ryan-mills|jie-liu|maureen-sartor|joshua-welch|stephen-montgomery|alexis-battle|livnat-jerby|jonathan-pritchard|predrag-radivojac|sean-mooney|harinder-singh|nidhi-sahni|jishnu-das|hao-wu|sreeram-kannan|hongjun-song|alkes-price|soumya-raychaudhuri|shamil-sunyaev|len-pennacchio|axel-visel|jill-moore|ting-wang|feng-yue|buenrostro-bernstein|igvf|igvf-dacc):[a-zA-Z\\d_$.+!*,()'-]+(?:\\s[a-zA-Z\\d_$.+!*,()'-]+)*$"
            }
          },
          "creation_timestamp": {
            "title": "Creation Timestamp",
            "description": "The date the object was created.",
            "type": "string",
            "format": "date-time"
          },
          "submitted_by": {
            "title": "Submitted By",
            "description": "The user who submitted the object.",
            "type": "string"
          },
          "submitter_comment": {
            "title": "Submitter Comment",
            "description": "Additional information specified by the submitter to be displayed as a comment on the portal.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "description": {
            "title": "Description",
            "description": "A plain text description of the object.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "dbxrefs": {
            "title": "External Resources",
            "description": "Identifiers from external resources that may have 1-to-1 or 1-to-many relationships with IGVF donors.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "External Identifier",
              "description": "Identifier from an external resource that may have 1-to-1 or 1-to-many relationships with IGVF donors.",
              "type": "string",
              "pattern": "(^GEO:SAMN\\d+$)|(^ENCODE:ENCDO\\d{3}[A-Z]{3}$)"
            }
          },
          "sex": {
            "title": "Sex",
            "description": "Sex of the donor.",
            "type": "string",
            "default": "unspecified",
            "enum": [
              "male",
              "female",
              "unspecified"
            ]
          },
          "phenotypic_features": {
            "title": "Phenotypic Features",
            "description": "A list of associated phenotypic features of the donor.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Phenotypic Feature",
              "description": "Phenotypic feature",
              "type": "string"
            }
          },
          "virtual": {
            "title": "Virtual",
            "description": "Virtual donors are not representing actual human or model organism donors, samples coming from which were used in experiments, but rather capturing metadata about hypothetical donors that the reported analysis results are relevant for.",
            "type": "boolean",
            "default": false
          },
          "related_donors": {
            "title": "Related Donors",
            "description": "Familial relations of this donor.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Related Donor",
              "description": "Familial relation of this donor.",
              "type": "object",
              "additionalProperties": false,
              "required": [
                "donor",
                "relationship_type"
              ],
              "properties": {
                "donor": {
                  "title": "Related Donor Identifier",
                  "description": "An identifier for the related donor.",
                  "type": "string"
                },
                "relationship_type": {
                  "title": "Relationship Type",
                  "description": "A descriptive term for the related donor\u2019s relationship to this donor.",
                  "type": "string",
                  "enum": [
                    "aunt",
                    "child",
                    "first cousin once removed",
                    "first cousin",
                    "fraternal twin",
                    "grandparent",
                    "half-sibling",
                    "niece",
                    "nephew",
                    "parent",
                    "paternal twin",
                    "sibling",
                    "second cousin",
                    "uncle"
                  ]
                }
              }
            }
          },
          "ethnicities": {
            "title": "Ethnicity",
            "description": "Ethnicity of the donor.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "African American",
                "African Caribbean",
                "Arab",
                "Asian",
                "Black",
                "Black African",
                "Chinese",
                "Colombian",
                "Dai Chinese",
                "Esan",
                "Eskimo",
                "European",
                "Gambian",
                "Han Chinese",
                "Hispanic",
                "Indian",
                "Japanese",
                "Kinh Vietnamese",
                "Luhya",
                "Maasai",
                "Mende",
                "Native Hawaiian",
                "Pacific Islander",
                "Puerto Rican",
                "Yoruba"
              ]
            }
          },
          "human_donor_identifiers": {
            "title": "Human Donor Identifiers",
            "type": "array",
            "description": "Identifiers of this human donor.",
            "uniqueItems": true,
            "items": {
              "title": "Human Donor Identifier",
              "description": "An identifier of this human donor.",
              "type": "string"
            }
          },
          "@id": {
            "title": "ID",
            "type": "string"
          },
          "@type": {
            "title": "Type",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "summary": {
            "title": "Summary",
            "type": "string",
            "description": "A summary of the human donor."
          }
        }
      },
      "RodentDonor": {
        "title": "Rodent Donor",
        "description": "A rodent donor of a biosample. Submission of any sample originating from a rodent donor requires submission of information about the relevant donor. The rodent donor can be a generic representative of an inbred strain, or a unique, individual mouse. For example, submission of a B6 mouse donor is a prerequisite for submission of any B6 mouse samples.",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "release_timestamp": {
            "title": "Release Timestamp",
            "description": "The date the object was released.",
            "type": "string",
            "format": "date-time"
          },
          "taxa": {
            "title": "Taxa",
            "type": "string",
            "description": "The species of the organism.",
            "enum": [
              "Mus musculus"
            ]
          },
          "publications": {
            "title": "Publications",
            "description": "The publications associated with this object.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Publication",
              "description": "A publication associated with this object.",
              "type": "string"
            }
          },
          "publication_identifiers": {
            "title": "Publication Identifiers",
            "description": "The publication identifiers that provide more information about the object.",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Publication Identifier",
              "description": "A publication identifier that provides more information about the object.",
              "type": "string",
              "pattern": "^(PMID:[0-9]+|doi:10\\.[0-9]{4}[\\d\\s\\S:\\.\\/]+|PMCID:PMC[0-9]+|[0-9]{4}\\.[0-9]{4})$"
            }
          },
          "url": {
            "title": "URL",
            "description": "An external resource with additional information.",
            "type": "string",
            "format": "uri"
          },
          "sources": {
            "title": "Sources",
            "description": "The originating lab(s) or vendor(s).",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "title": "Source",
              "description": "The originating lab or vendor.",
              "type": "string"
            }
          },
          "lot_id": {
            "title": "Lot ID",
            "description": "The lot identifier provided by the originating lab or vendor.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
          },
          "product_id": {
            "title": "Product ID",
            "description": "The product identifier provided by the originating lab or vendor.",
            "type": "string",
            "pattern": "^(\\S+(\\s|\\S)*\\S+|\\S)$"
[...]
